.git
.gitignore
.idea
.vscode
venv
.venv
env
__pycache__
**/__pycache__
*.py[cod]
.mypy_cache
.ruff_cache
*.log
.env
.env.*
!.env.example
instance
data

# Не часть приложения на сервере
defense
defense/**
docs
docs/**
tests
tests/**
deploy
deploy/**

*.pptx
*.bkp
.$*.bkp
